.login-feedback {
    max-width: 200px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: red;
}

#login-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

#login-form-input {
    text-align: center;
    border: none;
}

#login-form-submit {
    margin-top: 10px;
}

#login-form-input:focus, #login-form-submit:focus {
    outline: none;
}

#login-form-submit:active {
  opacity: 0.75;
}

#login-form-submit:hover {
    cursor: pointer;
}