.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
}

.App-logo {
  max-height: 70px;
}

.trademark {
  bottom: 15px;
  font-size: 1rem;
  left: 2px;
  position: relative;
}

.App-header div {
  display: flex;
  flex-direction: column;
}

.App-name {
  font-family: 'Lobster';
  font-size: 2.8rem;
  user-select: none;
}

.App-tagline {
  font-family: 'Lobster';
  font-size: 1.3rem;
  user-select: none;
}

#disconnect-button {
  position: absolute;
  right: 12.5px;
  top: 20px;
}

#disconnect-button:hover {
  cursor: pointer;
}

#disconnect-button:active {
  opacity: 0.75;
}

#disconnect-button:focus{
  outline:0;
}

@media screen and (max-width: 375px) {
  .App-header {
    height: 80px;
  }
  
  .App-logo {
    max-height: 60px;
  }

  #disconnect-button {
    top: 10px;
  }
}