* CHAT */
.chat-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  max-width: 1200px;
  padding: 10px 0 10px;
  width: 90%;
}

#chat-board {
  background-color: rgba(242, 242, 242, 0.4);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0 10px;
  overflow: scroll;
  padding: 0 10px;
  width: 100%;
}

#chat-board::-webkit-scrollbar {
  display: none;
}

.chat-message {
  border-radius: 20px;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  margin: 5px;
  max-width: 500px;
  padding: 10px 15px;
}

.local-client {
  align-self: flex-end;
  background-color: #282c34;
  color: #f7f7f7;
}

.remote-client {
  align-self: flex-start;
  background-color: teal;
  color: #f7f7f7;
}

#chat-form {
  align-self: flex-end;
  justify-self: flex-end;
  overflow: hidden;
  width: 100%;
}
/* 
#chat-form span {
  display: block;
  overflow: hidden;
  padding-right:10px;
}

#chat-input {
  border: none;
  width: 100%;
}

#chat-input:focus {
  outline:0;
} */