@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url("./styles/Chat.css");
@import url("./styles/Header.css");
@import url("./styles/Login.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.App {
  background: url('../src/logo.png') center no-repeat;
}

.App-main {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.button {
  background-color: #3E99A8;
  color: #f7f7f7;
  line-height: 30px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-family: 'Lobster';
}

button:hover {
  box-shadow: 0px 0px 5px gray;
}

.text-input {
  line-height: 35px;
  font-size: 1.6rem;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #F2F2F2;
  font-family: 'Courier New', Courier, monospace;
}

/* CHAT */
.chat-container {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0 10px;
}
