@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
  box-sizing: border-box;
	font: inherit;
	font-size: 100%;
  margin: 0;
	padding: 0;
  vertical-align: baseline;
}

html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}

.App {
  background: url('./logo.png') center no-repeat;
}

.App-main {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #3E99A8;
  border-radius: 5px;
  border: none;
  color: #f7f7f7;
  font-family: 'Lobster';
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 30px;
}

button:hover {
  box-shadow: 0px 0px 5px gray;
}

.text-input {
  background-color: #F2F2F2;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  line-height: 35px;
  padding: 0px 10px;
}

/* CHAT */
.chat-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  max-width: 1000px;
  padding: 10px 0 10px;
  width: 90%;
}

@import url('./components/Header/Header.css');
@import url('./components/LoginPage/LoginPage.css');
@import url('./components/ChatPage/Chat.css');


@media screen and (max-width: 375px) {
  .App-main {
    height: calc(100vh - 80px);
  }
}